h1 {
  font-size: 35px;
  color: #68f3ce;

}

h2 {
  font-size: 22px;
}

body {
  font-family: helvetica;
  text-align: center;
  background-color: #0e1110;
}

p {
  font-size: 18px;
  color: #fff ;
}

button {
  margin: 20px 0 0 0;
}

img {
max-width: 150px;
margin-top: 50px;
}
